.scrn, .vid {
    border-radius:3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width:600px!important;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
    background: gray;
  }
   
.scrn {
    margin-left:5px;
}
   
  #myCanvas, #myCanvas1, #video {
    width: 100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
  }
   
  .result, .bttn {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;
    height: auto;
  }
  .bttn {
    padding-top: 5px;
  }
   
.p{
    text-align:center;
    font-size:22px;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
}

  .b1, .b2, .b3{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
  }
   
  .b1:active, .b2:active, .b3:active{
    transform: translateY(1px);
    filter: saturate(150%);
  }
   
  .b1:hover, .b2:hover, .b3:hover,
  .b1:focus, .b2:focus, .b3:focus{
    color: blue;
    border-color: currentColor;
    background-color: white;
  }